.color-change{
  transition: background-color 0.5s ease-in-out; 
}

/* :root {
  --length: 0;
}

html {
  scroll-behavior: smooth;
}

body { 
  margin: 0;
  padding: 0;
  color: #201e21;
  text-transform: uppercase;
  background-color: #FCF6F6;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: #FCF6F6;
  border-bottom: 1px solid 201e21;
  scroll-snap-align: start;
}

.svg-section {
  background-color: #BA5145;
  min-height: 430px;
}

.container {
  height: 100vh;
  overflow-y: scroll; 
  scroll-snap-type: y mandatory;
}

.path {
  stroke-dasharray: var(--length);
  stroke-dashoffset: var(--length);
  stroke-width: 2;
}

.draw {
  animation: anim 3s ease-in-out forwards;
}

@keyframes anim {
  0% {
    stroke-dashoffset: var(--length);
  }

  100% {
    stroke-dashoffset: 0;
  }
} */





/* * {
  font-family: sofia-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}

code {
  font-family: input-mono, monospace;
  font-weight: 400;
  font-style: normal;
} */

.card-bg{
  background-image: url(/src/assets/smallBg1.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 500px) {
  .section-1-bg{
    background-image: url(/src/assets/smallBg1.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media (min-width: 500px) {
  .section-1-bg{
    background-image: url(/src/assets/largeBg1.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

html {
  scroll-snap-type: y mandatory;
}

section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: center;
}


circle,
rect,
line {
  stroke-width: 10px;
  stroke-linecap: round;
  fill: transparent;
}



:root {
  --black-gradient: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

.card-item-div {
  transition: all 0.2s;
}
.card-item-div:hover {
  background-image: url("https://i.imgur.com/HdaSkzj.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
}
