.navbarFirstSlide {
  animation: topToBottom 2s ease-in-out;
}
@keyframes topToBottom {
  0% {
    margin-top: -100%;
  }
  100% {
    margin-bottom: 0;
  }
}

.slideLeft {
  animation: toLeft 1ms ease;
}
@keyframes toLeft {
  0% {
    margin-right: -100%;
  }
  100% {
    margin-left: 0;
  }
}

.slideRight {
  animation: toRight 1ms ease;
}
@keyframes toRight {
  0% {
    margin-right: 0%;
  }
  100% {
    margin-left: 100;
  }

}


/* :root {
  --length: 0;
}

html {
  scroll-behavior: smooth;
}

body { 
  margin: 0;
  padding: 0;
  color: #201e21;
  text-transform: uppercase;
  background-color: #FCF6F6;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: #FCF6F6;
  border-bottom: 1px solid 201e21;
  scroll-snap-align: start;
}

.svg-section {
  background-color: #BA5145;
  min-height: 430px;
}

.container {
  height: 100vh;
  overflow-y: scroll; 
  scroll-snap-type: y mandatory;
}

.path {
  stroke-dasharray: var(--length);
  stroke-dashoffset: var(--length);
  stroke-width: 2;
}

.draw {
  animation: anim 3s ease-in-out forwards;
}

@keyframes anim {
  0% {
    stroke-dashoffset: var(--length);
  }

  100% {
    stroke-dashoffset: 0;
  }
} */
